<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d2d4d4;border: 2px solid black; margin-bottom: 100px; cursor: pointer">
  <div class="collapse navbar-collapse" id="navbarSupportedContent" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/carousel">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/training">Training</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link my-2 my-sm-0" *ngIf="!authService.loggedIn()" routerLink="/signup">Signup</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link my-2 my-sm-0" *ngIf="authService.loggedIn()" routerLink="/login">{{authService.currentUser}}</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link my-2 my-sm-0" *ngIf="!authService.loggedIn()" routerLink="/login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link my-2 my-sm-0" *ngIf="authService.loggedIn()" (click)="authService.logoutUser()" routerLink="/login">Logout</a>
        </li>
      </ul>
    </form>
  </div>
</nav>
